.debut{
   display: flex;
   flex-direction: row;
} 
.telephone{
    text-align: end;
    margin-top: -12px;
}
h1{
    font-weight: 900;
}
footer{
    background-color: #ffffff;
}
header{
    background-color: #ffffff;
    margin-bottom: -8px;
}
.res{
    text-decoration: underline;
    background-color: #ffffff;
}
.re{
    text-align: center;
}
.nos{
    background-color: #ffffff;
}
.lui{
    width: 25px;
    height: 25px;
    margin-right: 3px;
}
.haut{
    text-align: justify;
    vertical-align: top;
}
.moi{
    width: 25px;
    height: 25px;
    margin-top: -25px;
    
}
main {
    height: 500px;
    align-items: stretch;
    background-image: url(piscine_moeris.jpg);
    background-position: center;
    filter: blur(0px) opacity(80%); /* Flou et opacité */
    margin-top: 20px;
   
}
.plan{
    text-align: center;
    color: #ffffff;
    font-weight: 1000;
}
.slogant{
    font-weight: 100;
    font-size: 20px;
}
body{
    background-color: #a6d0f8;
}
.waouh{
    font-weight: 350;
}
.voir{
    text-align: end;
    margin-top: -40px;
}
.plus{
    text-align: end;
    margin-top: -45px;
}
.a_propos{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    background-color: white;
    font-size: 19px;
    text-shadow: 10px, 10px, 10px, black;
}
.a_propos :hover {
    transform: scale(98%);
    box-shadow: 10px, 10px, 10px, black;
}
.galerie{
   align-items: stretch;
   background-color: #ffffff;
}
.logo{
    width: 300px;
    height: 200px;
    margin-right: 8px;
}
.nuit{
    width: 300px;
    height: 200px;
    margin-right: 10px;
}
.piscine{
    width: 300px;
    height: 200px;
    margin-right: 8px;
}
.table{
    width: 300px;
    height: 200px;
    margin-right: 10px;
}
.chambre_1{
    width: 500px;
    height: 400px;
    
}
.un{
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-bottom: 8px;
    justify-content: center;
}
.deux{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 8px;
    justify-content: center;
}
.interieur{
    width: 300px;
    height: 200px;
}
.buffet{
    width: 300px;
    height: 200px;
    margin-right: 10px;
}
.lac{
    width: 300px;
    height: 200px;
    margin-right: 10px;
}
.rouge{
    width: 300px;
    height: 200px;
}

.chambre_2{
    width: 500px;
    height: 400px;   
    margin-right: 8px;

}
.chambre_3{
    width: 500px;
    height: 400px;
}
.localisation{
    width: 25px;
    height: 25px;
    margin-top: 9px;
}
.location{
    display: flex;
    flex-direction: row;
}
.telephoner{
    width: 25px;
    height: 25px; 
}
.tel{
    display: flex;
    flex-direction: row;  
}
.telo{
    margin-top: 1px;
}
.mail{
    width: 25px;
    height: 25px; 
}
.email{
    display: flex;
    flex-direction: row;
}
.mailo{
    margin-top: 6px;
}
.a{
    margin-top: -15px;
    color: #826EF8;
}
img{
    border-radius: 15%;
}
.galerie{
    text-decoration: underline;
}
.propos{
    text-decoration: underline;
}
.mailo :hover{
    opacity: 0.5;
    text-decoration: none;
}

img:hover {
    transform: scale(90%);
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.108),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.145),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.174),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.207),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.261),
  100px 100px 80px rgba(0, 0, 0, 0.44)
;
}
.premier{
    display: flex;
    flex-direction: row;
    
}
.deuxième{
    display: flex;
    flex-direction:row-reverse;
    margin-top: -10%;
}
.troisieme{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.phrase1{
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 2%;
    font-size: 100%;
    margin-bottom: 25%;
    margin-top: 10%;
    margin-left: 2%;
    font-family: "Oswald", serif;
  }
  .phrase2{
    background-color: #ffffff;
    margin-bottom: 25%;
    font-family: "Oswald", serif;
    font-size: 100%;
  }
  .phrase3{
    background-color: #ffffff;
    font-family: "Oswald", serif;
    font-weight: 400;
    font-size: 100%;
    margin-right: 1%;
  }
  